Source: ros-iron-event-camera-codecs
Section: misc
Priority: optional
Maintainer: Bernd Pfrommer <bernd.pfrommer@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-iron-ament-cmake, ros-iron-ament-cmake-auto, ros-iron-ament-cmake-clang-format <!nocheck>, ros-iron-ament-cmake-gtest <!nocheck>, ros-iron-ament-cmake-ros, ros-iron-ament-lint-auto <!nocheck>, ros-iron-ament-lint-common <!nocheck>, ros-iron-class-loader, ros-iron-event-camera-msgs, ros-iron-rclcpp <!nocheck>, ros-iron-ros-environment, ros-iron-rosbag2-cpp <!nocheck>, ros-iron-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-iron-event-camera-codecs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-iron-class-loader, ros-iron-event-camera-msgs, ros-iron-ros-environment, ros-iron-ros-workspace
Description: package to encode and decode event_camera_msgs
